---
---

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #3772d1 !default;
$header-bg-color-secondary: #ffffff !default;

$section-headings-color: #3772d1 !default;
$body-text-color: #7a7a7a !default;
$body-link-color: #de7d0d !default;
$blockquote-text-color: #819198 !default;

@import "{{ site.theme }}";
